@{Layout = "_Layout";}

@using Factory.Models;
@model Factory.Models.Machine;

<div class="card">
  <div class="card-header">
    <h3>New Machine</h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="col-auto">
      @using (Html.BeginForm()) {
        <div class="col-auto">
          Make & Model
          @Html.TextBoxFor(model => model.MakeModel, new {@class = "form-control", placeholder = "Make Model", required="required"})
        </div>
        <div class="col-auto">
          Serial Number
          @Html.TextBoxFor(model => model.SerialId, new {@class = "form-control", placeholder = "00XXX123X0", required="required"})
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-dark" />
      }
    </p>
  </div>
</div>