@{Layout = "_Layout";}

@model Factory.Models.Machine;

<h3>Machine Details</h3><hr>
<table class="table table-striped table-hover">
  <thead>
      <th scope="col">MakeModelHere</th>
      <th scope="col"></th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Serial ID </th>
      <td>XX00X123</td>
    </tr>
    <tr>
      <th scope="row">Production Date  </th>
      <td>####</td>
    </tr>
    <tr>
      <th scope="row">Serviced By </th>
      <td>Engineers</td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-md-center">
  <form method="get" action="/Machines/Create">
    <button class="btn btn-dark" type="submit">Add Engineers</button>
  </form>  
  <form method="get" action="/Machines/Edit">
    <button class="btn btn-dark" type="submit">Edit</button>
  </form>  
  <form method="get" action="/Machines/Delete">
    <button class="btn btn-dark" type="submit">Delete</button>
  </form>
</div>