@{Layout = "_Layout";}

@using Factory.Models;
ProductionDate Make Model  Manufacturer  Warranty Status servicesby:
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Machine</th>
      <th scope="col">Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Make: </th>
      loop through comanies & display as <td>Company</td>
    </tr>
    <tr>
      <th scope="row">Model: </th>
      loop through comanies & display as <td>Rep</td>
    </tr>
    <tr>
      <th scope="row">Manufacturer: </th>
      loop through comanies & display as <td>Phome</td>
    </tr>
    <tr>
      <th scope="row">Serial ID: </th>
      loop through comanies & display as <td>Phome</td>
    </tr>
    <tr>
      <th scope="row">Production Date:  </th>
      loop through comanies & display as <td>email</td>
    </tr>
    <tr>
      <th scope="row">Warranty: </th>
      loop through comanies & display as <td>Address1 & Address2</td>
    </tr>
    <tr>
      <th scope="row">Status: </th>
      loop through comanies & display as <td>Hours</td>
    </tr>
    <tr>
      <th scope="row">Serviced By: </th>
      loop through comanies & display as <td>Machines</td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-dark">Edit</button> | <button type="submit" class="btn btn-dark">Delete </button>