@{Layout = "_Layout";}

@using Factory.Models;

<h1>Machines</h1><hr>

@if (@Model.Count == 0 ) {
  <em>No machines have been added yet</em>
} 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col"> </th>
      <th scope="col"data-sortable="true">Make & Model</th>
      <th scope="col">Serial Number</th>
      <th scope="col">Serviced By</th>
    </tr>
  </thead>
  <tbody>
  @foreach(Machine machine in Model) {
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>@Html.ActionLink($"{machine.MakeModel}", "Details", new { id = machine.MachineId })</td>
      <td>@Html.DisplayFor(model => machine.SerialId)</td>
      <td>list machines here</td>
    </tr>
  }
  </tbody>
</table>