<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewBag.PageTitle</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark menus">
    <div class="container-fluid">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Engineers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Engineers/Index">View All</a></li>
            <li><a class="dropdown-item" href="/Engineers/Create">Add Engineer</a></li>
          </ul>
        </li>
      </div>
    </div>
  </nav>
    <div class=container>
      @RenderBody()
    </div>
  </body>
</html>